<div class="itemCell span2 has_popover" data-html="true" title='<%= manuscript.title %>' data-trigger='hover' data-placement='bottom' data-content="<p>Type: <%= manuscript.manuscript_type.name %></p><p>Word Count: <%= manuscript.word_count %></p>">
  <%= manuscript.title %>
</div>
